<h2>Ask a new question</h2>
<br>
<h4>Before submitting your question, make sure you've already searched Computer:WTF? for a similar query.</h4>
<br>
<div>
	<form id="new-question" action='/questions' method='post' >
    <input type="text" placeholder="Title" id="title"><br>
    <textarea form="new-question" placeholder="Your question here..."></textarea><br>
    <input type="text" placeholder="tags" id="tags"><br>
    <input type="submit" value="Submit Question" class='button'>
  </form>
</div<