header {
  background-color: #444;

  width: 100%;
}

#nav-bar {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px
}

#nav-bar li {
  display: inline;
}

#nav-bar li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.sitename {
  color: white;
  font-size: 24px
}

.rightside {
  float:right;
  padding-right: 30px;
}

.homepage {
  width: 75%;
  margin: 0 auto;
}

#menu {
  list-style-type: none;
  margin-bottom: 100px;
  margin-top: 30px;
}

#menu li {
  display: inline;
}

#menu li a {
  text-decoration: none;
  color: white;
  background-color: #9fbbd6;
  padding: 5px;
}

.menu-button {
  float: right;
  padding-right: 20px;
}


#question-tabs {
  border-bottom: 2px solig gray;
  list-style-type: none;
  padding-left: 0px;
}

#question-tabs li {
  display: inline;
  padding-left: 10px;
}

.questions-header {
  font-family: Brown, serif;
  font-size: 26px;
  color: #444;
}

.sort {
  font-size: 12px;
  float: right;
}

.sort a {
  color: #444;
  text-decoration: none;

}

.posts {
  width: 100%;
}
.post-row {
  border-bottom: 2px solid gray;
}

.post-stats {
  padding: 20px;
  text-align: center;
  width: 10%;
}

.post-info {
  padding-left: 20px;
  line-height: 2.0;
}

.post-link {
  color: #0083cb;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

h4 {
  font-size: 24px
}

.tags {
  margin: 5px;
  background-color: #9fbbd6;
}

.author {
  margin: 5px;
  background-color: #9fbbd6;
}

.date {
  float:right;
  font-size: 12px;
}

footer {
  background-color: #444;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0px;
  color: white;
  width: 100%;
}

footer div {
  text-align: center;
}

#question-form {
  background-color: #444444;
  border-radius: 5px;
  margin: auto;
  width: 80%;
  height: 15em;
}

.new-title {
  text-align: center;
}

#tags {
  position: absolute;
  bottom: 7%;
  left: 4%;
  width: 60%;
  border-radius: 3px;
}

#new-question, #new-comment, #new-answer {
height: 100%;
width: 100%;
position: relative;
}

.submit {
  position: absolute;
  bottom: 7%;
  right: 5%;
  }

.body {
  position: absolute;
  bottom: 25%;
  left: 4%;
  width: 90%;
  height: 50%;
  border-radius: 3px;
}

.title{
  position: absolute;
  bottom: 84%;
  left: 4%;
  width: 90%;
  border-radius: 3px;
}

#comment-text {
  position: absolute;
  bottom: 25%;
  height: 65%;
  left: 4%;
  width: 90%;
  border-radius: 3px;
}

.comment-submit {
  position: absolute;
  bottom: 8%;
  width: 40%;
  left: 30%;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid gray;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid gray;
}
