* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
}

header {
  background-color: #444;

  width: 100%;
}

#nav-bar {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;

}

#nav-bar li {
  display: inline;
}

#nav-bar li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.site-icon {
  display: inline-block;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  vertical-align: middle;
}

.sitename {
  color: white;
  font-size: 24px;
  display: inline;
  text-decoration: none;
}


.rightside {
  float:right;
  padding-right: 30px;
}

.homepage {
  width: 75%;
  margin: 0 auto;
}

#menu {
  list-style-type: none;
  margin-bottom: 100px;
  margin-top: 30px;
}

#menu li {
  display: inline;
}

#menu li a {
  text-decoration: none;
  color: white;
  background-color: #9fbbd6;
  padding: 5px;
}

.menu-button {
  float: right;
  padding-right: 20px;
}


#question-tabs {
  border-bottom: 2px solig gray;
  list-style-type: none;
  padding-left: 0px;
}

#question-tabs li {
  display: inline;
  padding-left: 10px;
}

.questions-header {
  font-family: Brown, serif;
  font-size: 26px;
  color: #444;
}

.sort {
  font-size: 12px;
  float: right;
}

.sort a {
  color: #444;
  text-decoration: none;

}
/*.background {
  background-image: url("http://i.imgur.com/81adu2p.jpg");
}*/
.posts {
  width: 100%;
}
.post-row {
  border-bottom: 2px solid gray;
}

.post-stats {
  padding: 20px;
  text-align: center;
  width: 10%;
}

.post-info {
  padding-left: 20px;
  line-height: 2.0;
}

.post-link {
  color: #0083cb;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

h4 {
  font-size: 24px
}

.tags {
  margin: 5px;
  background-color: #9fbbd6;
}

.author {
  margin: 5px;
  background-color: #9fbbd6;
  text-decoration: none;
}

.date {
  float:right;
  font-size: 12px;
}

footer {
  background-color: #444;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 100%;
}

footer div {
  text-align: center;
}

#question-form {
  background-color: #444444;
  border-radius: 5px;
  margin: auto;
  width: 80%;
  height: 15em;
}

.new-title {
  text-align: center;
}

#tags {
  position: absolute;
  bottom: 7%;
  left: 4%;
  width: 60%;
  border-radius: 3px;
}

#new-question, #new-comment, #new-answer {
height: 100%;
width: 100%;
position: relative;
}

.submit {
  position: absolute;
  bottom: 7%;
  right: 5%;
  }

.body {
  position: absolute;
  bottom: 25%;
  left: 4%;
  width: 90%;
  height: 50%;
  border-radius: 3px;
}

.title{
  position: absolute;
  bottom: 84%;
  left: 4%;
  width: 90%;
  border-radius: 3px;
}

#comment-text {
  position: absolute;
  bottom: 25%;
  height: 65%;
  left: 4%;
  width: 90%;
  border-radius: 3px;
}

.comment-submit {
  position: absolute;
  bottom: 8%;
  width: 40%;
  left: 30%;
}

.user-content {
  margin-top: 30px;
  border-top: 1px solid gray;
}

.user-content li {
  list-style: none;
  color: gray;
}

.content-body {
  font-style: italic;
  font-weight: bold;
}

.arrow-up {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
}


.arrow-up.on {
  background-position: 0 9.5px;
}

.arrow-down {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.imgur.com/rPy0INR.png');
  background-position: -3px -5px;
}


.arrow-down.on {
  background-position: -3px -40px;
}

#question-title {
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid gray;
  padding-bottom: 1.5em;
}

#title-link {
  text-decoration: none;
  color: black;
}

#question-container {
  /*border: 3px dashed red;*/
  width: 90%;
  margin-left: 5%;
  position: relative;
  border-bottom: 1px solid gray;
}

.question_body, .answer_body {
  /*background-color: #e6e6e6;*/
  display:inline-block;
  padding: 1%;
  border-bottom: 1px solid #E8E8E8;
  width: 97%;
  padding-bottom: .5em;
}

#vote_question, #vote_answer {
  width:5%;
  float:left ;
  margin-top: 2%;
  margin-left: 1%;
}

.post-content, .answer-content {
  width: 90%;
  display:inline-block;
}

.score {
  padding-left: 15px;
}

.author-content {
  background-color: #E0FFFF;
  font-size: .75em;
  margin-left: 75%;
  width: 16%;
  padding: 1em;
  margin-top:1em;
}

.comments-list {
  list-style: none;
  padding-left: 2%;
  font-size: .8em;
  margin-bottom: .5em;
}

.comments-list li {
  padding: .5em 0 .5em 0;
  border-bottom: 1px solid #EDEDED;
}

.comment-form-link {
  text-decoration: none;
  color: gray;
  padding-left: 3%;
  font-size: .8em;
}

.answer-content {
  margin-bottom: 1em;
}

.answer-number  {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
  font-size: 1.3em;
  color: #404040;
}

#post-answer-button {
  padding: .61538462em 1em;
  text-decoration: none;
  background-color: #0095ff;
  border-radius: 2px;
  color: white;
  box-shadow: inset 0 1px 0 #66bfff;
  font-size: .8em;
  margin-left: 10%;
}

/*.question_container {
  padding-bottom: 1em;
}*/

#checkmark {
  float:left;
  width: 5%;
  height: 5%;
  margin-top: 25px;
}

#accepted_vote_answer {
  width:5%;
  float:left ;
  margin-top: 2%;
  margin-left: 1%;
}

#accepted-answer-content {
  width: 87%;
  display:inline-block;
}

.post_answer {
  padding-top: 1em;
}

