<div class="homepage">

    <% @activities.each_with_index do |activity, index| %>
      <% unless activity.empty? %>
        <% if index == 0 %>
          <% name = "All Activity" %>
        <% else %>
          <% name = activity.first.class.name + "s" %>
        <% end %>
        <h1 class="header"><%= name %></h1>
        <div class="user-content" id="<%= name %>">
        <%= erb :'users/_activities', layout: false, locals: { user_id: @user.id , activities: activity, show_size: @show_size } %>
        </div>
      <% end %>
    <% end %>

</div>
