<div class="homepage">
  <h1 class="questions-header">All Activity</h1>

  <% unless @activities %>
    <h2>No recent activity</h2>
  <% else %>

    <div class="activities-log"
    <% @activities.each do |activity| %>
      <li><%= erb :'users/_activity', layout: false, locals: { activity: activity } %></li>
    <% end %>
    </div>

    <% @activities_array.each do |single_activity| %>
      <% unless single_activity.empty? %>
      <div class="user-content">
        <h1 class="questions-header"><%= single_activity.first.class.name %></h1>
        <% single_activity.each do |activity| %>
          <li><%= erb :'users/_activity', layout: false, locals: { activity: activity } %></li>
        <% end %>
      </div>
      <% end %>
    <% end %>
  <% end %>

</div>
