<div id="vote_answer">
<div class="arrow-up"></div>
<div class="score"><%= answer.vote_count %></div>
<div class="arrow-down"></div>
</div>
<span class='answer_body'><%= answer.body %></span><br><span class='answer_author'><%= answer.author %></span><br>
