<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
 <link rel="stylesheet" href="/css/application.css">
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 <script type="text/javascript" src="/js/application.js"></script>

  <title>Computer:WTF?</title>
</head>
<body>
  <header>
    <ul id="nav-bar">
      <span class="helper"><img class="site-icon" src="/public/imgs/so-icon.png" height="60px" width="60px">
      <a href="/questions" class="sitename">Computer:WTF?</a></span>
    <% if current_user %>
      <li class="rightside"><a href="/users/<%=current_user.id%>"><%=current_user.username%></a></li>
      <li class="rightside"><a href="/logout">log out</a></li>
      <li class="rightside"><a href="/">home</a></li>
    <% else %>
      <li class="rightside"><a href="/login">login</a></li>
      <li class="rightside"><a href="/register">register</a></li>
      <li class="rightside"><a href="/">home</a></li>
    <% end %>
  </header>
  <ul id="menu" class="homepage">
    <!-- <li class="menu-button"><a href="/questions">Questions</a></li> -->
    <!-- <li class="menu-button"><a href="/tags">Tags</a></li> -->
    <!-- <li class="menu-button"><a href="/users">Users</a></li> -->
    <li class="menu-button"><a href="/questions/new">Ask Question</a></li>
  </ul>
  <%= yield %>
  <footer>
    <div>&#169; 2016: Dawgpownd</div>
  </footer>
</body>
</html>
